<div class="container">
    <section id="contact" class="contact section-bg " style="margin-top: 40px">

        <div class="section-title" style="text-align: right" data-aos="fade-in" data-aos-delay="100">
            <h3 style="font-size:40px;font-weight: bold;color:#3e4095;margin-top:40px">التواصل<span class="border-heading" style="margin-left: 10px"></span></h3>
            <p class="lead" style="text-align: right;margin-right: 20px;font-size:18px;color: #595959;font-family: 'gotham-rounded, helvetica neue, helvetica', sans-serif">...........يسعدنا تواصلكم معنا</p>
        </div>
        <div class="form-group well" style="background-color: rgba(255,255,255,0);border: none;text-align: right">
            <label style="font-size: 18px;font-weight: bold;color: #3e4095">: اسم الفرع</label>
            <select class="form-control" ng-model="selectedTab" ng-change="changeMap()" style="text-align: right;font-size: 15px">
                <option ng-repeat="state in Addrs" ng-value="state" style="text-align: right">{{state.name==? :}}</option>
            </select>
        </div>

        <div class="uuu">
            <div class="oo m-repeat"  ng-repeat="add in Addrs track by $index" ng-if="add.name==selectedTab.name">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                          <div class="info-box mb-4">
                              <i  class="fa fa-map fa-3x" style="text-align: right;color:#3e4095"></i>
                              <h3 style="color:#3e4095">عنوان الجهاز</h3>
                              <p class="lead" style="color:#3e4095">{{add.Address}}</p>
                          </div>
                      </div>

                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                          <div class="info-box  mb-4">
                              <i class="fa fa-envelope fa-3x" style="color:#3e4095"></i>
                              <h3 style="color:  #3e4095;">البريد الألكتروني </h3>
                              <p class="lead" style="color:#3e4095">{{add.Email}}</p>
                          </div>
                      </div>

                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                          <div class="info-box  mb-4">
                              <i class="fa fa-phone fa-3x" style="color:#3e4095"></i>
                              <h3 style="color:#3e4095;">اتصل بنا</h3>
                              <p class="lead" style="color:#3e4095">{{add.Call}}</p>
                          </div>
                      </div>
                  </div>
            </div>
        </div>

        <!--<div style="margin: 20px auto;">-->
            <!---->
                    <!--<h1 style="display: inline">Follow</h1>-->
                    <!--<a href="#" class="twitter" style="display: inline;margin-left: 200px;padding: 10px;background-color: #2e77ff;color: white;border-radius: 50%"><i class="fa fa-twitter"></i></a>-->
                    <!--<a href="#" class="facebook" style="display: inline;margin-left: 200px;padding: 10px;background-color: #0e6dcd;color: white;border-radius: 50%"><i class="fa fa-facebook"></i></a>-->
                    <!--<a href="#" class="instagram" STYLE="margin-left: 200px;    padding: 10px;background-color: #9f1f35;color: white;border-radius: 50%"><i class="fa fa-instagram"></i></a>-->
        <!--</div>-->
        <div class="row "  data-wow-duration="2.0s" data-wow-offset="10"   data-wow-delay="1s" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="الأسم" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name=" email" id="email" placeholder="الإيميل" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="عنوان الرسالة" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please Write Something For Us" placeholder="..الرسالة"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                        <button type="submit" style="background-color:  #3e4095;border-radius: 5px;float: right;">إرسال</button>
                </form>
            </div>

            <div class="col-lg-6 ">
                <iframe id="map"  width="600" height="450" frameborder="0" style="border:0;height: 420px !important;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            </div>

        </div>
    </section>
</div>



