<br>
<br>
<br>
<h2 style="font-size: 45px;font-weight: bold;color: #0d68ff;"> <span style="border-right: 5px solid rgba(13,104,255,0.33);height: 7px;margin-right: 6px;"></span>image</h2>
<!-- ======= Portfoio Section ======= -->
<section>

    <div class="uk-child-width-1-2@s uk-child-width-1-4@l uk-text-center" uk-grid>
        <div>
            <div>
                <div class="uk-inline">
                    <img src="img/6.jpg" alt="" style="width: 450px ;height: 400px">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <h1>welcome</h1>
                        <p style="color: white">Default Lorem ipsum dolor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-inline">
                    <img src="img/7.jpg" alt="" style="width: 450px ;height: 400px">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <h1>welcome</h1>
                        <p style="color: white">Default Lorem ipsum dolor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-inline">
                    <img src="img/8.jpg" alt="" style="width: 450px ;height: 400px">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <h1>welcome</h1>
                        <p style="color: white">Default Lorem ipsum dolor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-inline">
                    <img src="img/2.jpg" alt="" style="width: 450px ;height: 400px">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <h1>welcome</h1>
                        <p style="color: white">Default Lorem ipsum dolor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="uk-child-width-1-2@s uk-child-width-1-4@l uk-text-center" uk-grid>
        <div>
            <div>
                <div class="uk-inline">
                    <img src="img/6.jpg" alt="" style="width: 450px ;height: 400px">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <h1>welcome</h1>
                        <p style="color: white">Default Lorem ipsum dolor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-inline">
                    <img src="img/4.jpg" alt="" style="width: 450px ;height: 400px">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <h1>welcome</h1>
                        <p style="color: white">Default Lorem ipsum dolor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-inline">
                    <img src="img/2.jpg" alt="" style="width: 450px ;height: 400px">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <h1>welcome</h1>
                        <p style="color: white">Default Lorem ipsum dolor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="uk-inline">
                    <img src="img/6.jpg" alt="" style="width: 450px ;height: 400px">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <h1>welcome</h1>
                        <p style="color: white">Default Lorem ipsum dolor sit amet,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



