<section style="margin-top: 50px; display: flex; justify-content: center;">
    <div class="uk-child-width-expand@s  uk-child-width-1-1@s uk-child-width-1-3@l uk-text-center" uk-grid>
        <div class="blog" >
            <div>
                <div class="blog-item" style="width: 600px !important;">
                    <div class="blog-img">
                        <img src="https://smart-node.net/data/cbs/news/{{News.img}}" alt="Blog">
                    </div>
                    <div class="blog-content" style="height: 500px">
                        <h2 class="blog-title">{{News.title_en}}</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-calendar-alt"></i>{{News.created| date:"dd-mm-yyyy"}}</p>

                        </div>
                        <div class="blog-text" style="width: 480px !important;text-align: left">
                            <p>
                                {{News.body_en}}
                            </p>

                        </div>
                        <div style="margin-top: 20px" class="uk-child-width-1-1@s uk-child-width-1-3@l uk-text-center" uk-grid>
                            <div>
                                <div>
                                    <li class="fab fa-facebook" style="display: inline;background-color: #2d3669;color: white;border-radius: 30%;padding: 15px"></li>

                                </div>
                            </div>
                            <div>
                                <div>
                                    <li class="fab fa-twitter" style="display: inline;background-color: #2e77ff;color: white;border-radius: 40%;padding: 15px"></li>

                                </div>

                            </div>
                            <div>
                                <div>
                                    <li class="fab fa-instagram" style="display: inline;background-color: #9f1f35;color: white;border-radius: 40%;padding: 15px"></li>

                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                            <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>