<div>

    <h1 class="text-center" style="font-weight: bold; font-size: 30px; color: #303f9f;">Gross Domestic Product- The States</h1>
    <div>
        <label>Choose year</label>
        <select class="form-control"    ng-change="changeYear()" ng-model="year" style="margin-bottom: 25px">
            <option ng-value="2040">2040</option>
            <option ng-value="2039">2039</option>
            <option ng-value="2038">2038</option>
            <option ng-value="2037">2037</option>
            <option ng-value="2036">2036</option>
            <option ng-value="2035">2035</option>
            <option ng-value="2034">2034</option>
            <option ng-value="2034">2034</option>
            <option ng-value="2032">2032</option>
            <option ng-value="2031">2031</option>
            <option ng-value="2030">2030</option>
            <option ng-value="2029">2029</option>
            <option ng-value="2029">2028</option>
            <option ng-value="2027">2027</option>
            <option ng-value="2026">2026</option>
            <option ng-value="2025">2025</option>
            <option ng-value="2024">2024</option>
            <option ng-value="2023">2023</option>
            <option ng-value="2022">2022</option>
            <option ng-value="2021">2021</option>
            <option ng-value="2020">2020</option>
            <option ng-value="2019">2019</option>
            <option ng-value="2018">2018</option>
            <option ng-value="2017">2017</option>
            <option ng-value="2016">2016</option>
            <option ng-value="2015">2015</option>
            <option ng-value="2014">2014</option>
            <option ng-value="2013">2013</option>
            <option ng-value="2012">2012</option>
            <option ng-value="2011">2011</option>
            <option ng-value="2010">2010</option>
            <option ng-value="2009">2009</option>
            <option ng-value="2008">2008</option>
            <option ng-value="2007">2007</option>
            <option ng-value="2006">2006</option>
            <option ng-value="2005">2005</option>
            <option ng-value="2004">2004</option>
            <option ng-value="2003">2003</option>
            <option ng-value="2002">2002</option>
            <option ng-value="2001">2001</option>
            <option ng-value="2000">2000</option>
            <option ng-value="1999">1999</option>
            <option ng-value="1998">1998</option>
            <option ng-value="1997">1997</option>
            <option ng-value="1996">1996</option>
            <option ng-value="1995">1995</option>
            <option ng-value="1994">1994</option>
            <option ng-value="1993">1993</option>
            <option ng-value="1992">1992</option>
            <option ng-value="1991">1991</option>
            <option ng-value="1989">1989</option>
            <option ng-value="1988">1988</option>
            <option ng-value="1987">1987</option>
            <option ng-value="1986">1986</option>
            <option ng-value="1985">1985</option>
            <option ng-value="1984">1984</option>
            <option ng-value="1983">1983</option>
            <option ng-value="1982">1982</option>
            <option ng-value="1981">1981</option>
            <option ng-value="1980">1980</option>
            <option ng-value="1979">1979</option>
            <option ng-value="1978">1978</option>
            <option ng-value="1977">1977</option>
            <option ng-value="1977">1976</option>
            <option ng-value="1975">1975</option>
            <option ng-value="1974">1974</option>
            <option ng-value="1973">1973</option>
            <option ng-value="1972">1972</option>
            <option ng-value="1971">1971</option>
            <option ng-value="1970">1970</option>
            <option ng-value="1969">1969</option>
            <option ng-value="1968">1968</option>
            <option ng-value="1967">1967</option>
            <option ng-value="1966">1966</option>
            <option ng-value="1965">1965</option>
            <option ng-value="1964">1964</option>
            <option ng-value="1963">1963</option>
            <option ng-value="1962">1962</option>
            <option ng-value="1961">1961</option>
            <option ng-value="1960">1960</option>
            <option ng-value="1959">1959</option>
            <option ng-value="1958">1958</option>
            <option ng-value="1957">1957</option>
            <option ng-value="1956">1956</option>
        </select>
    </div>
</div>
<div class="uk-overflow-auto">
    <table class="table table-bordered text-center">
        <thead>
        <tr ng-repeat="gdp in gdps|filter:{main_id:id}" class="bg-primary" >
            <th>The State</th> <!--ng-repeat="gdp in gdps"-->
            <th ng-repeat="sub in gdp.sub">{{sub.title}}</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="state in StateSubValue">
            <td>{{state.state}}</td>
            <td ng-repeat="value in state.sub" >{{value.value}}</td>
            <!--<td>-->
                <!--<md-button class="md-icon-button"  uk-tooltip="title:Edit Value of {{state.state}};pos:bottom" ng-click="showEditGdpCitiesAnnual(state,$event,$index)">-->
                    <!--<md-icon style="color: #0f6ecd"> create</md-icon>-->
                <!--</md-button>-->
                <!--<md-button class="md-icon-button"  uk-tooltip="title:Delete Value of {{state.state}};pos:bottom" ng-click="deleteState(state.state_id,$event,$index)"><md-icon style="color: #0f6ecd"> delete_forever</md-icon></md-button>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</div>